encryption = "gpg"
progress = true
color = "on"

[diff]
    command = "meld"

[edit]
    apply = true

[gpg]
    command = "gpg"
    recipient = "Matias Ceau"
    # suffix = ".asc"

[completion]
    custom = true
