encryption = "gpg"
progress = true
color = "on"

[diff]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[edit]
    apply = true

[gpg]
    command = "gpg"
    recipient = "Matias Ceau"
    # suffix = ".asc"

[completion]
    custom = true
