encryption = "gpg"
progress = true
color = "on"

[diff]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}"]

[edit]
    apply = true

[gpg]
    command = "gpg"
    recipient = '1640 81FD BE38 6199 3D29  9B12 4655 BB0E C030 8BA3'
    args = ["--quiet"]
    # suffix = ".asc"

[completion]
    custom = true
