{:logseq-automatic-linker {:version "1.7.0", :repo "sawhney17/logseq-automatic-linker", :effect false, :theme false}
 :logseq-graph-analysis {:version "0.12.0", :repo "trashhalo/logseq-graph-analysis", :effect true, :theme false}
 :logseq-banners-plugin {:version "v3.4.11", :repo "yoyurec/logseq-banners-plugin", :effect true, :theme false}
 :logseq-git {:version "v1.7.0", :repo "haydenull/logseq-plugin-git", :effect true, :theme false}
 :logseq-diagrams-as-code {:version "0.0.21", :repo "npgrosser/logseq-diagrams-as-code", :effect false, :theme false}
 :logtools {:version "0.1.1", :repo "cannibalox/logtools", :effect false, :theme false}
 :logseq-file-manager {:version "v1.4.0", :repo "haydenull/logseq-plugin-file-manager", :effect true, :theme false}
 :logseq-interstitial {:version "0.2.0", :repo "Mikilio/logseq-interstitial-heading-plugin", :effect false, :theme false}
 :logseq-chatgpt-plugin {:version "v2.0.3", :repo "debanjandhar12/logseq-chatgpt-plugin", :effect true, :theme false}
 :logseq-citation-manager {:version "v3.2.0", :repo "sawhney17/logseq-citation-manager", :effect true, :theme false}
 :logseq-inbox-telegram-plugin {:version "v0.1.5", :repo "shady2k/logseq-inbox-telegram-plugin", :effect false, :theme false}
 :logseq-pdf-nav {:version "v0.1.4", :repo "OverflowCat/logseq-pdf-nav", :effect true, :theme false}
 :logseq-browser {:version "v1.1.2", :repo "haydenull/logseq-plugin-browser", :effect false, :theme false}}
